* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: #a47673;
}

body:has(.form) {
    background: #088176;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

/* CV */
.cv {
    padding: 26px 70px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.header {
    text-align: center;
}

.header .name {
    font-size: 26px;
}

.work-experience {
    font-size: 18px;
}

.info {
    margin-top: 8px;
}

.work-experience {
    margin-top: 28px;
}

.line {
    margin-top: 6px;
    height: 2px;
    background-color: #000;
}

.row .job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    font-size: 16px;
}

.row .date {
    font-weight: bold;
}

.cv ul {
    padding: 14px 0 0 28px;
}

.cv ul p {
    text-align: justify;
}

.education {
    margin-top: 20px;
}

.bottom-paper {
    font-size: 16px;
    padding-top: 16px;
}

/* Form */
.form {
    max-width: 400px;
    padding: 30px;
    margin: 50px auto;
    border-radius: 30px;
    background: #fff;
}

.form-heading {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #088176;
}

.form label {
    color: #bebebe;
    font-size: 14px;
}

.form-label {
    display: block;
    margin: 10px 0 4px;
    font-weight: 600;
}

.form-input {
    width: 100%;
    padding: 3px 6px;
    border: 1px solid gray;
    border-radius: 99px;
    outline: none;
}

.form-input::placeholder {
    color: #bababa;
}

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.form-vertical label {
    display: block;
}

.form-footer {
    margin-top: 30px;
}

.form .submit-btn {
    width: 100%;
    background: #088176;
    font-weight: 500;
}

.btn {
    display: inline-block;
    border: none;
    padding: 4px 16px 6px;
    min-width: 120px;
    background-color: #0093fc;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
